.header {
    width: 100%;
    margin: 0 auto;
    grid-area: h;
    border-top-right-radius: 10px;
    height: 70px;
    display: grid;
    padding: 0px 20px;
    grid-template-columns: 1.25fr 1fr 0.5fr ;
    align-items: center;
    box-sizing: border-box;
}


.loginBlock {
    color: inherit;
    background-color: inherit;
    justify-self: flex-end;
}

