.profileInfo {
    height: auto;
    box-sizing: border-box;
    position: relative;
    .bgImg img {
        width: 97.8%;
        height: 225px;
        border-radius: 13px;
        display: block;
        margin: 1.1%;
    }
}

.profileImage img {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 105px;
    height: 105px;
    border-radius: 10px;
}
.descr {
    margin-top: 25px;
    padding: 10px 30px 10px 30px;
    position: relative;
}
.contacts {
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 15px;
    &:hover{
        color: rgb(19, 61, 154);
    }
}
